@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      Account Register
    </h1>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Log in with your account</h2>
    </div>
    <div class="card-body">
      @using Shop.ViewModels

      @model LoginViewModel
      @using (Html.BeginForm())
      {
          @Html.LabelFor(m => m.UserName)
          @Html.TextBoxFor(m => m.UserName)
          @Html.LabelFor(m => m.Password)
          @Html.PasswordFor(m => m.Password)

          <button class="btn btn-outline-dark" type="submit">Log In</button>
      }
    </div>
  </div>
</div>
  @Html.Partial("Header")
  @Html.Partial("Footer")




