@{
  Layout = "_Layout";
}
@using Shop.Models;
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      Treat Details
    </h1>
    <button class="btn btn-outline-info" onclick="window.location.href='/treats';">View all treats</button>
    



  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5>Flavors</h5>
        </div>
        <div class="card-body">
          @if(Model.TreatFlavor.Count == 0)
          {
            <p>@Model.Name has no Flavors .</p>
          }
          <ul>
            @foreach (TreatFlavor treatFlavor in @Model.TreatFlavor)
            {
              @if(@User.Identity.IsAuthenticated)
              {
                <li>@Html.ActionLink(treatFlavor.Flavor.Name,"details","flavors", new {id = treatFlavor.FlavorId}) | @Html.ActionLink("Remove","removeFlavor", new {id = treatFlavor.TreatFlavorId}) </li>
              }
              else
              {
                <li>@Html.ActionLink(treatFlavor.Flavor.Name,"details","flavors", new {id = treatFlavor.FlavorId})</li>
              }
                
            }
          </ul>
          <div>
            @if(@User.Identity.IsAuthenticated)
            {
              <button class="btn btn-info" onclick="window.location.href='/treats/addFlavor/@Model.TreatId';">Link an Flavor</button>
            }
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5>Details</h5>
        </div>
        <div class="card-body">
          <h5>Name: @Model.Name</h5>
          <h5>Description: @Model.Description</h5>
          <div>
            @if(@User.Identity.IsAuthenticated)
            {
              <button class="btn btn-info" onclick="window.location.href='/Treats/edit/@Model.TreatId';">Edit</button>
              <button class="btn btn-info" onclick="window.location.href='/treats/delete/@Model.TreatId';">Delete</button>
            }
            </div>
        </div>
      </div>
    </div>
  </div>
  
   @Html.Partial("_Header")
  @Html.Partial("_Footer") 

</div>